@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Mono+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-color-dark:var(--background-color-dark)
  --text-color-dark: #ffffff
}

body {
  display: flex;
  background-color: rgb(0, 0, 0);
  background-image: url("./assets/background.png");
  background-size: cover;
  min-height: 100vh;

  /* font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal; */
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  width: 1440px;
}
.container {
  display: block;
  height: 1625px;
  height: 800px;
}

.textPoke {
  /* align-items: center; */
  width: 350px;
  height: 150px;
  /* margin-left: 525px; */
  margin-left: 180px;
  /* margin-top: 100px; */
}

.con-boss-detail {
  display: flexbox;
  width: 500px;
  height: 100px;
  margin-left: 20px;
}

.con-textPoke {
  width: 350px;
  margin-top: -95px;
  margin-left: 430px;
  transform: rotate(20deg);
}

.con-poke {
  display: flex;
  width: 1275px;
  height: 400px;
  margin-left: 150px;
}

.con-select {
  width: 320px;
  margin-left: -280px;
  margin-top: 325px;
  color: black;
}
/* .con-select2 {
  width: 250px;
  margin-left: 50px;
  margin-top: 325px;
} */
.con-img {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-top: 0px;
  /* margin-bottom: 0px; */
}
.img-quest {
  width: 300px;
  height: 300px;
  margin-left: 80px;
  margin-top: 0px;
}
.con-img2 {
  /* width: 300px;
  height: 300px; */
  margin-left: 100px;
  margin-top: 15px;
}

.con-img-boss {
  width: 400px;
  height: 300px;
  margin-left: 850px;
  margin-top: -60px;
}

.space-text {
  display: flex;
  margin-left: 50px;
}

.con-detail {
  display: flexbox;
  width: 800;
  height: 300;
  /* margin-left: 10px; */
  margin-right: 10px;
  margin-top: 100px;
  /* background-color: antiquewhite; */
  /* background-color: aqua; */
  /* padding-bottom: 200px; */
}

.text-box1 {
  display: flex;
  background-image: url("./assets/text-box.png");
  background-size: cover;
  width: 800px;
  height: 300px;
  /* margin-bottom: 100px; */
  /* align-items: center;
  justify-content: center; */
}
.text-box2 {
  display: flex;
  background-image: url("./assets/text-box.png");
  background-size: cover;
  width: 750px;
  height: 275px;
  /* margin-bottom: 100px; */
  /* align-items: center;
  justify-content: center; */
}

.name {
  display: flex;
  width: 500px;
  height: 50px;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 30px;
  color: black;
  /* background-color: red; */
}
.hp {
  display: flex;
  width: 600px;
  height: 50px;
  margin-top: 170px;
  margin-left: -500px;
  font-size: 30px;
  color: black;
  /* background-color: blue; */
}
.line-hp {
  display: flex;
  width: 450px;
  height: 50px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: red;
  color: white;
  justify-content: center;
}
.skill {
  display: flex;
  width: 50px;
  height: 50px;
  margin-top: 320px;
  margin-left: 20px;
}

.name2 {
  display: flex;
  width: 450px;
  height: 50px;
  margin-top: 90px;
  margin-left: 80px;
  font-size: 30px;
  color: black;
  /* background-color: red; */
}
.hp2 {
  display: flex;
  width: 600px;
  height: 50px;
  margin-top: 160px;
  margin-left: -450px;
  font-size: 30px;
  color: black;
  /* background-color: blue; */
}
.line-hp2 {
  display: flex;
  width: 450px;
  height: 50px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: red;
  color: white;
  justify-content: center;
}
